@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
:root,
[data-bs-theme=dark] {--bs-dark-rgb: 0, 47, 255;}



/* 字體大小ROOT控制 */

html{font-size: 16PX;}
body{
    font-family: "微軟正黑體" "Noto Sans TC", sans-serif;
}
li{font-size: 0.8rem;}